.container {
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.headingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textareaContainer {
  height: 100%;
}
